html,
body, #root {
    height: 100%;
    margin: 0px;
    width: 100%;
    padding: 0;
    font-family: "Inter";
    scrollbar-width: thin;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}


@font-face {
    font-family: 'Inter';
    src: local('Inter-Light'),
        url('./assets/fonts/Inter/Inter-Light.woff2') format('truetype');
}

@font-face {
    font-family: 'Light';
    src: local('Inter-Light'),
        url('./assets/fonts/Inter/Inter-Light.woff2') format('truetype');
}

@font-face {
    font-family: 'Medium';
    src: local('Inter-Medium'),
        url('./assets/fonts/Inter/Inter-Medium.woff2') format('truetype');
}

@font-face {
    font-family: 'Bold';
    src: local('Inter-Bold'),
        url('./assets/fonts/Inter/Inter-Bold.woff2') format('truetype');
}