html,
body,
#root {
  height: 100%;
  margin: 0;
  width: 100%;
  padding: 0;
  font-family: "Barlow";
  scrollbar-width: thin;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

input {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

@font-face {
  font-family: "Light";
  src: local("Barlow-Light"),
    url("./assets/fonts/Barlow/Barlow-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("Barlow-Medium"),
    url("./assets/fonts/Barlow/Barlow-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("Barlow-Bold"),
    url("./assets/fonts/Barlow/Barlow-Bold.ttf") format("truetype");
}
